body, h1, h2, h3, h4{
  margin: 0;
  font-family: 'Oswald', sans-serif;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
h1, h2, h3, h4{
  font-weight: 800;
  text-transform: uppercase;;
}
p, span{
  font-family: 'Helvetica Neue', Arial, Helvetica, sans-serif;
}

code {
  font-family: monospace;
}
